<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beranda</title>
  </head>
  <body>
    <h1>Welcome to My Challenge Chapter 7</h1>
    <p>Silakan pilih salah satu opsi untuk melanjutkan:</p>
    <a href="/register">
      <button>Register</button>
    </a>
    <a href="/login">
      <button>Login</button>
    </a>
    <a href="/dashboard">
      <button>Dashboard</button>
    </a>
    <p>ijin euyy</p>
    <a href="https://github.com/DevialdiMp">
      <button>GitHub</button>
    </a>
    <a href="https://www.linkedin.com/in/devialdimaisaputra/">
      <button>Linkedin</button>
    </a>
  </body>
</html>
