<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Berhasil Diubah</title>
    <link rel="stylesheet" href="/styles.css" />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
          window.location.href = "/login";
        }, 5000);
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Password Berhasil Diubah</h1>
      <p>
        Password Anda telah berhasil diubah, Anda akan diarahkan ke halaman
        login dalam 5 detik.
      </p>
      <p>
        Jika tidak diarahkan, <a href="/login">Klik di sini untuk Login</a>.
      </p>
    </div>
  </body>
</html>
